.App {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

.control {
  height: 50vh;
  width: 50vh;
  
}

.box {
  text-align: center;
  padding: 20vh;
  width: 60vh;
  height: 50vh;
  background-color: rgb(66, 177, 177);
  color: blanchedalmond;
}
